---
import Layout from "#layouts/Layout.astro";
import Card from "#components/Card.astro";
import { cardDefault } from "#data/data.js";


const emptyCard = {}
Object.assign(emptyCard, cardDefault);
Object.assign(emptyCard, {
  title: "Saját számok",
  slug: "sajat-szamitas",
  category: "custom",
  valueBig: 500,
  sources: {},
  descr: "",
});
---


<Layout title="Saját számítás">
  <main>
    <Card card={emptyCard} editable={true} />
    <script src="#public/calc.js"/>
  </main>
</Layout>