---
import Layout from "#layouts/Layout.astro";
import Card from "#components/Card.astro";
import { cards } from "#data/data.js";

export async function getStaticPaths() {
  return cards.map(card => ({
    params: { slug: card.slug },
    props: { card },
  }));
}

const { card } = Astro.props;
const cardsMore = cards.filter((c) => c.title != card.title);
---

<Layout title={card.title}>
  <Card card={card} />
  <h3>További adatok:</h3>
  {cardsMore.map(card => (
    <Card card={card} />
  ))}
</Layout>