---
import Layout from "#layouts/Layout.astro";
import Card from "#components/Card.astro";
import cards from "#data/cards.json";

export async function getStaticPaths() {
  return cards.items.map(card => ({
    params: { slug: card.slug },
    props: { card },
  }));
}

const { card } = Astro.props;
---

<Layout title="Saját számítás">
  <main>
    <div style="margin-top: 20px;">
      <Card card={card} />
    </div>
    <a href="/" class="more-link">&larr; Több adat a főoldalon</a>
  </main>
</Layout>